<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Админ панель</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="text-dark form-container">
      <div class="container mt-5">
        <h2>Админ панель</h2>
        <a href="/admin/view_orders" class="btn1 btn1-outline-secondary">Просмотреть заказы</a>
        <button onclick="window.location.href='/admin/view_request'" class="btn1 btn1-outline-secondary">Просмотреть заявки</button>
        <a href="/admin/view_catalog" class="btn1 btn1-outline-secondary">Каталог кофе</a>
        <a href="/" class="btn1 btn1-outline-secondary">Вернуться назад</a>
      </div>
    </div>
  </div>
</body>
</html>
