<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Эфиопия</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .info-container {
            display: flex;
            align-items: center;
            margin-top: 25px;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
        .info-image {
            max-width: 40%;
            margin-right: 20px;
        }
        .info-text {
            max-width: 60%;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="info-container">
            <img src="/assets/ephiopia1.jpg" class="img-fluid info-image" alt="Эфиопия">
            <div class="info-text">
                <h2>Эфиопия</h2>
                <p>Эфиопия является одной из самых известных стран-производителей кофе в мире. Ее кофе отличается ярким, цветочным ароматом и богатым вкусом, который включает в себя нотки тропических фруктов, ягод и шоколада. Кофе из Эфиопии считается эталоном качества и восхищает гурманов по всему миру.</p>
                <a href="/#coffee_countries" class="btn1 btn1-outline-secondary">Вернуться на главную</a>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
